/Auto/.ipynb_checkpoints/Get data-checkpoint.ipynb
/Fuels/.ipynb_checkpoints/Energy density VS prices-checkpoint.ipynb
/Fuels/.ipynb_checkpoints/OIL prices-checkpoint.ipynb
/Fuels/.ipynb_checkpoints/Play - NG-checkpoint.ipynb
/Fuels/.ipynb_checkpoints/Play - URALS-checkpoint.ipynb
/Fuels/.ipynb_checkpoints/Play FUELS-checkpoint.ipynb
/Fuels/energy.csv
